{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container mt-5">
     <div class="col-md-4 offset-md-4">
          <div class="card p-4">
               <h3 class="text-center">Login</h3>
               <form method="post">
                    {% csrf_token %}

                    <input type="text" name="username" placeholder="Username"><br>
                    <input type="password" name="password" placeholder="Password"><br>

                    <button type="submit">Login</button>
               </form>

               {% if error %}
                    <p style="color:red;">{{ error }}</p>
               {% endif %}
          </div>
     </div>
</div>

{% endblock %}